<% layout( 'layout' ) -%>
 
<h1><%= title %></h1>
<p>Hello~ Write a Python program to reverse a string.
</p>
<form action="/create" method="post" accept-charset="utf-8">

  <textarea id='m' name='content' rows='10' cols='100'>a = raw_input()
print a[::-1]</textarea>
  <button id='submit' onclick="pass(document.getElementById('m').value); " type="button">Submit</button>

</form>


<script src="/socket.io/socket.io.js"></script>
<script>
	//var socket = io.connection('http://localhost:3001/')	
    
    function insertAtCursor(myValue) {
        myField = document.getElementById("m");
        if (document.selection) {
            myField.focus();
            sel = document.selection.createRange();
            sel.text = myValue;
        }
        //MOZILLA and others
        else if (myField.selectionStart || myField.selectionStart == '0') {
            var startPos = myField.selectionStart;
            var endPos = myField.selectionEnd;
            myField.value = myField.value.substring(0, startPos)
                            + myValue
                            + myField.value.substring(endPos, myField.value.length);
            myField.selectionStart = startPos + myValue.length;
            myField.selectionEnd = startPos + myValue.length;
        } else {
            myField.value += myValue;
        }
    }

    document.getElementById('m').onkeydown = function(e){
        if (e.keyCode == 9) {
            insertAtCursor('    ');
            return false;
        }
    }

	function sleep(time, callback) {
    	var stop = new Date().getTime();
    	while(new Date().getTime() < stop + time) {
    	    ;
    	}
    	callback();
	}

	var socket = io();
	function pass(t){
		socket.emit('cal', t);
		
        socket.on('fin', function(){
            location.href = '/result';
        });
		
        /*
        sleep(1000, function() {
   			// executes after one second, and blocks the thread
  		});
        */
		//location.href = '/result';
	}

</script>
