<% layout( 'layout' ) -%>
 
<font size="8" color="blue">
<p><%= title %></p>
</font>
<font size="6">
<p>
Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). 
</p>
<p>
Return 0 for no numbers.
</p>
</font>
<form action="/create" method="post" accept-charset="utf-8">

  <textarea id='m' name='content' rows='20' cols='100'>
import sys
nums = raw_input()
nums = [int(s) for s in nums.split(',')]
num_sum = 0
flag = False
for n in nums:
    if flag == False:
        if n == 6:
            flag = True
        else:
            num_sum += n
    elif flag == True:
        if n == 7:
            flag = False
print num_sum
  </textarea>
  <button id='submit' onclick="pass(document.getElementById('m').value); " type="button">Submit</button>

</form>


<script src="/socket.io/socket.io.js"></script>
<script>
	//var socket = io.connection('http://localhost:3001/')	
    
    function insertAtCursor(myValue) {
        myField = document.getElementById("m");
        if (document.selection) {
            myField.focus();
            sel = document.selection.createRange();
            sel.text = myValue;
        }
        //MOZILLA and others
        else if (myField.selectionStart || myField.selectionStart == '0') {
            var startPos = myField.selectionStart;
            var endPos = myField.selectionEnd;
            myField.value = myField.value.substring(0, startPos)
                            + myValue
                            + myField.value.substring(endPos, myField.value.length);
            myField.selectionStart = startPos + myValue.length;
            myField.selectionEnd = startPos + myValue.length;
        } else {
            myField.value += myValue;
        }
    }

    document.getElementById('m').onkeydown = function(e){
        if (e.keyCode == 9) {
            insertAtCursor('    ');
            return false;
        }
    }

	function sleep(time, callback) {
    	var stop = new Date().getTime();
    	while(new Date().getTime() < stop + time) {
    	    ;
    	}
    	callback();
	}

	var socket = io();
	function pass(t){
		socket.emit('cal', t);
		
        socket.on('fin', function(){
            location.href = '/result';
        });
		
        /*
        sleep(1000, function() {
   			// executes after one second, and blocks the thread
  		});
        */
		//location.href = '/result';
	}

</script>
